<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://cloud.typenetwork.com/projects/657/fontface.css/" type="text/css" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    

	<script>
          $( document ).ready(function() {
            console.log( "ready!" );
            $('div[id^=tab]').hide();
            $('#tab1').show();
            $('#tabs a').click(function () {
              var tab_id = $(this).attr('href'); 
              $('div[id^=tab]').hide();
              $(tab_id).show(); 
            });
            
            $(function(){
            
              $(document).on( 'scroll', function(){
            
                if ($(window).scrollTop() > 100) {
                  $('.scroll-top-wrapper').addClass('show');
                } else {
                  $('.scroll-top-wrapper').removeClass('show');
                }
              });
            
              $('.scroll-top-wrapper').on('click', scrollToTop);
            });
            
            function scrollToTop() {
              verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
              element = $('body');
              offset = element.offset();
              offsetTop = offset.top;
              $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
            }
          });
	</script>
  
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://accelerator.cognizant.com">
		  <img src="/images/logo-accelerator-1x.wht.png" alt="">
		  </a>
        </div>
		<div class="text-center idea-header">
		<h1>Blockchain - Trade and Supply Chain Finance</h1>
		</div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 sidebar">
			<ul id="tabs" class="nav nav-sidebar">
				<li><a href="#tab1"><i class="glyphicon glyphicon-book"></i><b> &nbsp; Overview</b></a></li>
				<li><a href="#tab2"><i class="glyphicon glyphicon-wrench"></i><b> &nbsp; Configuration</b></a></li>
				<li><a href="#tab3"><i class="glyphicon glyphicon-list-alt"></i><b> &nbsp; Competitive analysis</b></a></li>
				<li><a href="#tab4"><i class="glyphicon glyphicon-play-circle"></i><b> &nbsp; Industry players</b></a></li>
				<li><a href="#tab5"><i class="glyphicon glyphicon-edit"></i><b> &nbsp; Industry articles</b></a></li>
				<li><a href="#tab6"><i class="glyphicon glyphicon-warning-sign"></i><b> &nbsp; Existing Competitors</b></a></li>
				<li><a href="#tab7"><i class="glyphicon glyphicon-certificate"></i><b> &nbsp; Code spikes</b></a></li>
			</ul>
		</div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


		<div id="tab1">
			
			<h1 class="page-header">Overview</h1>
			<p>Content for overview goes here
			</p>
		</div>
		<div id="tab2">
		<h1 class="page-header">Configuration</h1>
		<p>Content for Configuration goes here
		</p> 
		</div>
		<div id="tab3">
		<h1 class="page-header">Competitive analysis</h1>
		<p>Content for Competitive analysis goes here
		</p> 
		</div>
		<div id="tab4">
		<h1 class="page-header">Industry players</h1>
		<p>Content for Industry players goes here
		</p>
		</div>
		<div id="tab5">
		<h1 class="page-header">Industry articles</h1>
		<p>Content for Industry articles goes here
		</p>
		</div>
		<div id="tab6">
		<h1 class="page-header">Existing Competitors</h1>
		<p>Content for Existing Competitors goes here
		</p>
		</div>
		<div id="tab7">
			<h1 class="page-header">Code spikes</h1>
			<p>Content for Code spikes goes here
		</p>
		</div>
      </div>
    </div>
	<!-- The scroll to top feature -->    
	<div class="scroll-top-wrapper ">
	  <span class="scroll-top-inner">
		<i class="fa fa-2x fa-arrow-circle-up"></i>
	  </span>
	</div>
	<div class="footer">
		<div class="row">
			<ul class="nav nav-pills nav-justified">
				<li><a href="https://www.cognizant.com">©2017 Cognizant, all rights reserved</a></li>
			</ul>
		</div>
	</div>
  </body>
</html>