<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Mock BCTS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/images/favicon.ico">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cloud.typenetwork.com/projects/657/fontface.css/" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/dashboard.css">

		<script>
			$(document).ready(function () {
				$('div[id^=tab]').hide();
				$('#tab1').show();
				$('#tabs a').click(function () {
					var tab_id = $(this).attr('data-section');
					$('div[id^=tab]').hide();
					$(tab_id).show();
				});
				$(function () {
					$(document).on('scroll', function () {
						if ($(window).scrollTop() > 100) {
							$('.scroll-top-wrapper').addClass('show');
						} else {
							$('.scroll-top-wrapper').removeClass('show');
						}
					});
					$('.scroll-top-wrapper').on('click', scrollToTop);
				});
				function scrollToTop() {
					verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
					element = $('body');
					offset = element.offset();
					offsetTop = offset.top;
					$('html, body').animate({ scrollTop: offsetTop }, 500, 'linear');
				}
			});
		</script>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="https://accelerator.cognizant.com">
						<img src="/images/logo-accelerator-1x.wht.png" alt="Cognizant Accelerator">
					</a>
				</div>
				<div class="text-center idea-header">
					<h1>Blockchain - Trade and Supply Chain Finance</h1>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2 sidebar">
					<ul id="tabs" class="nav nav-sidebar">
						<li><a href="#" data-section="#tab1"><i class="glyphicon glyphicon-book"></i><b>Overview</b></a></li>
						<li><a href="#" data-section="#tab2"><i class="glyphicon glyphicon-dashboard"></i><b>Industry Players</b></a></li>
						<li><a href="#" data-section="#tab3"><i class="glyphicon glyphicon-list-alt"></i><b>Competitive Analysis</b></a></li>
						<li><a href="#" data-section="#tab4"><i class="glyphicon glyphicon-play-circle"></i><b>Industry Articles</b></a></li>
						<li><a href="#" data-section="#tab5"><i class="glyphicon glyphicon-edit"></i><b>Technical Articles</b></a></li>
						<li><a href="#" data-section="#tab6"><i class="glyphicon glyphicon-warning-sign"></i><b>Glossary</b></a></li>
						<li><a href="#" data-section="#tab7"><i class="glyphicon glyphicon-wrench"></i><b>Implementation</b></a></li>
						<li><a href="#" data-section="#tab8"><i class="glyphicon glyphicon-certificate"></i><b>Code Spikes</b></a></li>
					</ul>
				</div>

				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<div id="tab1">
						<h2 class="page-header">Overview</h2>
						<p>Content for Overview goes here
						</p>
					</div>

					<div id="tab2">
						<h2 class="page-header">Industry Players</h2>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<h3><a href="https://primerevenue.com"><b>PrimeRevenue</b></a></h3>
							<p>PrimeRevenue recognizes that supply chain finance is much more than just math and that there is no one-size fits all approach.
								Its cloud-based platform delivers programs designed specifically for a business, throughout a supply chain whether it’s
								a buyer or supplier.
							</p>
							<p>From traditional supply chain finance programs that will unlock millions in working capital, to dynamic
								discounting programs, to solutions for mid-tier suppliers, PrimeRevenue is all about supply chain finance.
							</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<h3><a href="http://www.demica.com"><b>Demica</b></a></h3>
							<p>Demica’s innovative supply chain finance solutions enable its clients to extend days payable outstanding, capture early payment
								discounts offered by suppliers or help their suppliers secure funding at a lower cost, all while improving their own margins.
							</p>
							<p>The company specializes in non-investment grade programs and those that operate cross-border. With the company’s uniquely
								flexible technology platform and innovative structures, it is able to provide a tailored solution to each client that will
								maximize the return from the program.
							</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
							<h3><a href="https://taulia.com"><b>Taulia</b></a></h3>
							<p>Taulia drives innovation in the Financial Supply Chain. By turning every invoice into a revenue opportunity, Taulia enables
								organizations to strengthen supplier relationships while adding millions to the bottom line.
							</p>
							<p>Some of the smartest brands in the world rely on Taulia, including Coca-Cola Bottling, Pfizer, Hallmark, John Deere, and
								many other Fortune 500 companies from various industries.
							</p>
						</div>
						<p></p>
						<div class="col-md-12">
							<h3>Other Players</h3>
							<div>
								<h4><a href="http://www.maybank.com/en/global-banking/transaction-banking/products/trade-supply-chain-financing/structured-trade-finance.page">Maybank</a></h4>
								<h4><a href="https://www.xelix.com/blog/Supply-Chain-Finance/?gclid=CNSyy-G4nNMCFZIEaAod-LUEcw">Xelix</a></h4>
								<h4><a href="https://www.gfmag.com/magazine/february-2015/worlds-best-trade-and-supply-chain-finance-providers-2015?page=6">Global Finance</a></h4>
								<h4><a href="https://www.sc.com/cn/en/business/transaction-banking-services-trade-and-supply-chain-financing-solutions.html">Standard Charted</a></h4>
							</div>
						</div>
					</div>

					<div id="tab3">
						<h2 class="page-header">Competitive Analysis</h2>
						<p>Content for Competitive Analysis goes here
						</p>
					</div>

					<div id="tab4">
          <h2 class="page-header">Industry Articles</h2>
          <p>
            <h3>Supply Chain Overview:</h3>
            A supply chain is a system of organizations, people, activities, information, and resources involved in moving a product
            or service from supplier to customer. Supply chain activities involve the transformation of natural resources,
            raw materials, and components into a finished product that is delivered to the end customer. In sophisticated
            supply chain systems, used products may re-enter the supply chain at any point where residual value is recyclable.
            For more details please refer to:
            <a href="https://en.wikipedia.org/wiki/Supply_chain" data-section="#wiki_link">wiki link for supply chain</a>

            <h3>Management:</h3>
            In the 1980s, the term supply chain management (SCM) was developed to express the need to integrate the key business processes,
            from end user through original suppliers. Original suppliers are those that provide products, services, and information
            that add value for customers and other stakeholders. The basic idea behind SCM is that companies and corporations
            involve themselves in a supply chain by exchanging information about market fluctuations and production capabilities.
            If all relevant information is accessible to any relevant company, every company in the supply chain has the
            ability to help optimize the entire supply chain rather than to sub-optimize based on a local interest. This
            will lead to better-planned overall production and distribution, which can cut costs and give a more attractive
            final product, leading to better sales and better overall results for the companies involved. Incorporating SCM
            successfully leads to a new kind of competition on the global market, where competition is no longer of the company-versus-company
            form but rather takes on a supply-chain-versus-supply-chain form. In commerce, supply chain management (SCM),
            the management of the flow of goods and services, involves the movement and storage of raw materials, of work-in-process
            inventory, and of finished goods from point of origin to point of consumption. Interconnected or interlinked
            networks, channels and node businesses combine in the provision of products and services required by end customers
            in a supply chain. Supply-chain management has been defined as the "design, planning, execution, control, and
            monitoring of supply chain activities with the objective of creating net value, building a competitive infrastructure,
            leveraging worldwide logistics, synchronizing supply with demand and measuring performance globally." For more
            details please refer to: <a href="https://en.wikipedia.org/wiki/Supply_chain" data-section="#wiki_link_management">wiki link for supply chain management</a>

            <h3>Trade and Supply chain financing:</h3>
            Supply chain finance is a set of solutions that optimizes cash flow by allowing businesses to lengthen their payment terms
            to their suppliers, while also providing an alternative option to their suppliers to get paid early. While minimizing
            risk throughout the supply chain. Multiple participants need cash in different ways and different times. •
            <ul>
              <li>They negotiate to achieve better terms in order to reduce costs and manage working capital</li>
              <li>Multiple financing solutions between buyers and suppliers</li>
              <li>Improved credit rating for the buyer</li>
              <li>Lower Financing costs for the supplier</li>
            </ul>
            <h3>Challenges faced:</h3>
            There are various challenges faced by both buyer and supplier.

            <h4>Supplier’s Challenge</h4>
            <ul>
              <li>Heavy expense for purchasing raw material.</li>
              <li>Funding labour for production</li>
              <li>Very long cash to cash cycles – 90 days from shipment to payment</li>
              <li>Risk of buyer not paying</li>
            </ul>


            <h4>Buyer’s challenge</h4>
            <ul>
              <li>Risk of delay from inaccurate documentation.</li>
              <li>Working capital tied up in long lead time and buffer inventory</li>
              <li>Risk of supplier not delivering against terms and conditions.</li>
            </ul>

          </p>
        </div>

          <div id="tab5">
            <h2 class="page-header">Technical articles</h2>
            <p>
            <b>Blockchain Technology</b>
            <br/>
            <br/> A blockchain is a type of distributed ledger, comprised of unchangeable, digitally recorded data in packages called blocks. These digitally recorded "blocks" of data is stored in a linear chain. Each block in the chain contains data (e.g. bitcoin transaction), is cryptographically hashed. The blocks of hashed data draw upon the previous-block (which came before it) in the chain, ensuring all data in the overall "blockchain" has not been tampered with and remains unchanged
           </p>
           <div class="jumbotron">
             <div class="container text-center">
               <h3 class="page-header">Technologies Used For LaunchPad Project</h3>
               <p class="lead"></p>
             </div>
          </div>
          <div class="container">
              <div class="row">
                <div class="col-md-4 well pricing-table">
                  <div class="pricing-table-holder">
                    <center>
                      <img src="/images/development_icon_100x100.jpg" class="img-responsive img-circle" alt="">
                      <h3>DEVELOPMENT</h3>
                      <p class="caption">
                       Technologies used for development.
                      </p>
                    </center>
                  </div>
                  <div class="pricing-feature-list">
                    <ul class="list-group">
                      <li class="list-group-item">Angular2</li>
                      <li class="list-group-item">React With Redux</li>
                      <li class="list-group-item">Node JS</li>
                      <li class="list-group-item">Ethereum</li>
                      <li class="list-group-item">Express JS</li>
                    </ul>
                  </div>
                  <div class="price-table-button-holder">
                  </div>
                </div>
                <div class="col-md-4 well pricing-table">
                  <div class="pricing-table-holder">
                    <center>
                      <img src="/images/devops_icon2_100x100.jpg" class="img-responsive img-circle" alt="">
                      <h3>DEVOPS</h3>
                      <p class="caption">
                       Technologies used for devops.
                      </p>
                    </center>
                  </div>
                  <div class="pricing-feature-list">
                    <ul class="list-group">
                      <li class="list-group-item">Docker</li>
                      <li class="list-group-item">Heroku</li>
                      <li class="list-group-item">Circle CI</li>
                      <li class="list-group-item">GIT</li>
                      <li class="list-group-item">AWS</li>
                    </ul>
                  </div>
                  <div class="price-table-button-holder">
                  </div>
                </div>
                <div class="col-md-4 well pricing-table">
                  <div class="pricing-table-holder">
                    <center>
                      <img src="/images/testing_icon_100x100.jpg" class="img-responsive img-circle" alt="">
                      <h3>TESTING</h3>
                      <p class="caption">
                       Technologies used for testing.
                      </p>
                    </center>
                  </div>
                  <div class="pricing-feature-list">
                    <ul class="list-group">
                      <li class="list-group-item">Karma</li>
                      <li class="list-group-item">Jasmine</li>
                      <li class="list-group-item">Nightwatch JS</li>
                      <li class="list-group-item">Selenium</li>
                      <li class="list-group-item">Mocha</li>
                    </ul>
                  </div>
                  <div class="price-table-button-holder">
                  </div>
                </div>
              </div>
           </div>
					</div>

					<div id="tab6">
						<h2 class="page-header">Glossary</h2>
						<p>Content for Glossary goes here
						</p>
					</div>

					<div id="tab7">
						<h2 class="page-header">Implementation</h2>
						<p>Content for Implementation goes here
						</p>
					</div>

					<div id="tab8">
						<h2 class="page-header">Code Spikes</h2>
						<p>Content for Code Spikes goes here
						</p>
					</div>

				</div>
			</div>
		</div>

		<!-- The scroll to top feature -->
		<div class="scroll-top-wrapper ">
			<span class="scroll-top-inner">
					<i class="fa fa-2x fa-arrow-circle-up"></i>
				</span>
		</div>

		<div class="footer">
			<div class="row">
				<ul class="nav nav-pills nav-justified">
					<li><a href="https://www.cognizant.com">©2017 Cognizant, all rights reserved</a></li>
				</ul>
			</div>
		</div>

	</body>
</html>