<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Mock BCTS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/images/favicon.ico">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cloud.typenetwork.com/projects/657/fontface.css/" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/dashboard.css">
		<!-- Custom styles for table -->
		<link rel="stylesheet" href="/stylesheets/table.css"> 

		<script>

			$(document).ready(function () {

				$('div[id^=tab]').hide();
				$('#tab1').show();

				$('#tabs a').click(function () {
					var tab_id = $(this).attr('data-section');
					$('div[id^=tab]').hide();
					$(tab_id).show();
				});

				$(function () {
					$(document).on('scroll', function () {
						if ($(window).scrollTop() > 100) {
							$('.scroll-top-wrapper').addClass('show');
						} else {
							$('.scroll-top-wrapper').removeClass('show');
						}
					});

					$('.scroll-top-wrapper').on('click', scrollToTop);

				});

				function scrollToTop() {
					verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
					element = $('body');
					offset = element.offset();
					offsetTop = offset.top;
					$('html, body').animate({ scrollTop: offsetTop }, 500, 'linear');
				}

			});

		</script>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="https://accelerator.cognizant.com">
						<img src="/images/logo-accelerator-1x.wht.png" alt="Cognizant Accelerator">
					</a>
				</div>
				<div class="text-center idea-header">
					<h1>Blockchain - Trade and Supply Chain Finance</h1>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2 sidebar">
					<ul id="tabs" class="nav nav-sidebar">
						<li><a href="#" data-section="#tab1"><i class="glyphicon glyphicon-book"></i><b>Overview</b></a></li>
						<li><a href="#" data-section="#tab2"><i class="glyphicon glyphicon-wrench"></i><b>Industry Players</b></a></li>
						<li><a href="#" data-section="#tab3"><i class="glyphicon glyphicon-list-alt"></i><b>Competitive Analysis</b></a></li>
						<li><a href="#" data-section="#tab4"><i class="glyphicon glyphicon-play-circle"></i><b>Industry Articles</b></a></li>
						<li><a href="#" data-section="#tab5"><i class="glyphicon glyphicon-edit"></i><b>Technical Articles</b></a></li>
						<li><a href="#" data-section="#tab6"><i class="glyphicon glyphicon-warning-sign"></i><b>Glossary</b></a></li>
						<li><a href="#" data-section="#tab7"><i class="glyphicon glyphicon-certificate"></i><b>Implementation</b></a></li>
						<li><a href="#" data-section="#tab8"><i class="glyphicon glyphicon-certificate"></i><b>Code Spikes</b></a></li>
					</ul>
				</div>

				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<div id="tab1">
						<h2 class="page-header">Overview</h2>
						<p>Content for Overview goes here
						</p>
					</div>

					<div id="tab2">
						<h2 class="page-header">Industry Players</h2>
						<p>Content for Industry Players goes here
						</p>
					</div>

					<div id="tab3">
						<h2 class="page-header">Competitive Analysis</h2>

						<table class="catable table-striped table-hover">
							<thead>
								<tr>
									<th></th>
									<th scope="col" abbr="Starter"><a href="https://primerevenue.com">Prime Revenue</a></th>
									<th scope="col" abbr="Medium"><a href="http://www.demica.com/">Demica</a></th>
									<th scope="col" abbr="Business"><a href="https://taulia.com">Taulia</a></th>
								</tr>
							</thead>

							<tbody>
								<tr class="info">
									<th scope="row">Business</th>
									<td>Prime Revenue unlocks cash from customers financial supply chain, freeing up cash for clients to invest in their company's
										future</td>
									<td>Demica is the specialist provider of working capital solutions and financing partner to multinational companies</td>
									<td>Comprehensive and interconnected set of solutions to strengthen supplier relationships and uncover the value within your
										financial supply chain</td>
								</tr>
								<tr class="info">
									<th scope="row">Unique Feature/s</th>
									<td>They run largest multiple supply chain finance program and they also provide funding.</td>
									<td>They provide best in risk mitigated systems. Also provide oppportunity for funders to deploy capital efficiently and
										in scale.</td>
									<td>Taulia Business Exchange is a sophisticated financial supply chain solution comprised of three unique solutions that
										work together to create a simple and effective way to transact and collaborate with your entire supplier network.</td>
								</tr>
								<tr class="info">
									<th scope="row">Products and Solutions</th>
									<td>SciEnable, SciSupplier, SciMap, OpenSci</td>
									<td>Invoice Discounting Citadel Solution, Trade Receivables Securitization Citadel Solution</td>
									<td>Taulia Bussiness Exchange, One Time Early payment, Cashflow, Cash Planner, Taulia Colalborate, Order Connect, Supplier
										Launch</td>
								</tr>
								<tr class="info">
									<th scope="row">Achievements</th>
									<td>Apart from basic Supply chain finance offerings, PrimeRevenue has successfully processed receivables finance transactions
										in many jurisdictions, including the United States, Canada, UK, Germany, France, Sweden, South Africa, Australia and
										China, with perfection of interest in the receivable.</td>
									<td></td>
									<td></td>
								</tr>
								<tr class="info">
									<th scope="row">About Blockchain</th>
									<td>Prime revenue brings to the table a range of additional buyer-centric capabilities, including dynamic discounting, working
										capital-centric spend analysis and opportunity identification, supplier enablement and the other side of trade financing
										— receivables financing. Still, it now competes in a more competitive market than when it started.</td>
									<td>DEMICA’s technology is amongst the most sophisticated and flexible in the SCF industry.They are emphasizing more on
										their techological platform.</span>
									</td>
									<td>Orbian is not following the Bank’s lead in spending $ millions on Proof Of Concept projects. They prefer to analyse the
										risk/reward on a fundamental basis and for them today Blockchain falls into the watch and wait category.</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div id="tab4">
						<h2 class="page-header">Industry Articles</h2>
						<p>Content for Industry Articles goes here
						</p>
					</div>

					<div id="tab5">
						<h2 class="page-header">Technical Articles</h2>
						<p>Content for Technical Articles goes here
						</p>
					</div>

					<div id="tab6">
						<h2 class="page-header">Glossary</h2>
						<p>Content for Glossary goes here
						</p>
					</div>

					<div id="tab7">
						<h2 class="page-header">Implementation</h2>
						<p>Content for Implementation goes here
						</p>
					</div>

					<div id="tab8">
						<h2 class="page-header">Code Spikes</h2>
						<p>Content for Code Spikes goes here
						</p>
					</div>

				</div>
			</div>
		</div>

		<!-- The scroll to top feature -->
		<div class="scroll-top-wrapper ">
			<span class="scroll-top-inner">
					<i class="fa fa-2x fa-arrow-circle-up"></i>
				</span>
		</div>

		<div class="footer">
			<div class="row">
				<ul class="nav nav-pills nav-justified">
					<li><a href="https://www.cognizant.com">©2017 Cognizant, all rights reserved</a></li>
				</ul>
			</div>
		</div>

	</body>
</html>