<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Mock BCTS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cloud.typenetwork.com/projects/657/fontface.css/" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/dashboard.css">

  <script>

			$(document).ready(function () {

				$('div[id^=tab]').hide();
				$('#tab1').show();

				$('#tabs a').click(function () {
					var tab_id = $(this).attr('data-section');
					$('div[id^=tab]').hide();
					$(tab_id).show();
				});

				$(function () {
					$(document).on('scroll', function () {
						if ($(window).scrollTop() > 100) {
							$('.scroll-top-wrapper').addClass('show');
						} else {
							$('.scroll-top-wrapper').removeClass('show');
						}
					});

					$('.scroll-top-wrapper').on('click', scrollToTop);

				});

				function scrollToTop() {
					verticalOffset = typeof (verticalOffset) != 'undefined' ? verticalOffset : 0;
					element = $('body');
					offset = element.offset();
					offsetTop = offset.top;
					$('html, body').animate({ scrollTop: offsetTop }, 500, 'linear');
				}

			});

		</script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://accelerator.cognizant.com">
          <img src="/images/logo-accelerator-1x.wht.png" alt="Cognizant Accelerator">
        </a>
      </div>
      <div class="text-center idea-header">
        <h1>Blockchain - Trade and Supply Chain Finance</h1>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 sidebar">
        <ul id="tabs" class="nav nav-sidebar">
          <li><a href="#" data-section="#tab1"><i class="glyphicon glyphicon-book"></i><b>Overview</b></a></li>
          <li><a href="#" data-section="#tab2"><i class="glyphicon glyphicon-wrench"></i><b>Industry Players</b></a></li>
          <li><a href="#" data-section="#tab3"><i class="glyphicon glyphicon-list-alt"></i><b>Competitive Analysis</b></a></li>
          <li><a href="#" data-section="#tab4"><i class="glyphicon glyphicon-play-circle"></i><b>Industry Articles</b></a></li>
          <li><a href="#" data-section="#tab5"><i class="glyphicon glyphicon-edit"></i><b>Technical Articles</b></a></li>
          <li><a href="#" data-section="#tab6"><i class="glyphicon glyphicon-warning-sign"></i><b>Glossary</b></a></li>
          <li><a href="#" data-section="#tab7"><i class="glyphicon glyphicon-certificate"></i><b>Implementation</b></a></li>
          <li><a href="#" data-section="#tab8"><i class="glyphicon glyphicon-certificate"></i><b>Code Spikes</b></a></li>
        </ul>
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div id="tab1">
          <h2 class="page-header">Overview</h2>
          <p>Content for Overview goes here
          </p>
        </div>

        <div id="tab2">
          <h2 class="page-header">Industry Players</h2>
          <p>Content for Industry Players goes here
          </p>
        </div>

        <div id="tab3">
          <h2 class="page-header">Competitive Analysis</h2>
          <p>Content for Competitive Analysis goes here
          </p>
        </div>

        <div id="tab4">
          <h2 class="page-header">Industry Articles</h2>
          <p>
            <h3>Supply Chain Overview:</h3>
            A supply chain is a system of organizations, people, activities, information, and resources involved in moving a product
            or service from supplier to customer. Supply chain activities involve the transformation of natural resources,
            raw materials, and components into a finished product that is delivered to the end customer. In sophisticated
            supply chain systems, used products may re-enter the supply chain at any point where residual value is recyclable.
            For more details please refer to:
            <a href="https://en.wikipedia.org/wiki/Supply_chain" data-section="#wiki_link">wiki link for supply chain</a>

            <h3>Management:</h3>
            In the 1980s, the term supply chain management (SCM) was developed to express the need to integrate the key business processes,
            from end user through original suppliers. Original suppliers are those that provide products, services, and information
            that add value for customers and other stakeholders. The basic idea behind SCM is that companies and corporations
            involve themselves in a supply chain by exchanging information about market fluctuations and production capabilities.
            If all relevant information is accessible to any relevant company, every company in the supply chain has the
            ability to help optimize the entire supply chain rather than to sub-optimize based on a local interest. This
            will lead to better-planned overall production and distribution, which can cut costs and give a more attractive
            final product, leading to better sales and better overall results for the companies involved. Incorporating SCM
            successfully leads to a new kind of competition on the global market, where competition is no longer of the company-versus-company
            form but rather takes on a supply-chain-versus-supply-chain form. In commerce, supply chain management (SCM),
            the management of the flow of goods and services, involves the movement and storage of raw materials, of work-in-process
            inventory, and of finished goods from point of origin to point of consumption. Interconnected or interlinked
            networks, channels and node businesses combine in the provision of products and services required by end customers
            in a supply chain. Supply-chain management has been defined as the "design, planning, execution, control, and
            monitoring of supply chain activities with the objective of creating net value, building a competitive infrastructure,
            leveraging worldwide logistics, synchronizing supply with demand and measuring performance globally." For more
            details please refer to:<a href="https://en.wikipedia.org/wiki/Supply_chain" data-section="#wiki_link_management">wiki link for supply chain management</a>
          </p>
        </div>

        <div id="tab5">
          <h2 class="page-header">Technical Articles</h2>
          <p>Content for Technical Articles goes here
          </p>
        </div>

        <div id="tab6">
          <h2 class="page-header">Glossary</h2>
          <p>Content for Glossary goes here
          </p>
        </div>

        <div id="tab7">
          <h2 class="page-header">Implementation</h2>
          <p>Content for Implementation goes here
          </p>
        </div>

        <div id="tab8">
          <h2 class="page-header">Code Spikes</h2>
          <p>Content for Code Spikes goes here
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- The scroll to top feature -->
  <div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
					<i class="fa fa-2x fa-arrow-circle-up"></i>
				</span>
  </div>

  <div class="footer">
    <div class="row">
      <ul class="nav nav-pills nav-justified">
        <li><a href="https://www.cognizant.com">©2017 Cognizant, all rights reserved</a></li>
      </ul>
    </div>
  </div>

</body>

</html>