// Variables for this style
$main-color: #eee;
$white-color: #fff;
$border-color: #101010;
$bg-color: #f5f5f5;
$nav-bg-color: #428bca;
$body-font: 'Interstate Lt';
$scrolltop-bg-color: #777;

// Base structure
body {
  font: 16px $body-font;
  font-size: 1.5em;
  line-height: 2;
  // Move down content because we have a fixed navbar that is 50px tall
  padding-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

.tabs {
  li {
    b {
      padding-left: .5em;
    }
  }
}

.idea-header {
  color: $main-color;
}

.navbar-inverse {
  .navbar-collapse,
  .navbar-form {
    border-color: $border-color;
    padding: 7px;
  }
}

// Global add-ons
.sub-header {
  border-bottom: 1px solid $main-color;
  padding-bottom: 10px;
}

// Top navigation
.navbar-fixed-top {
  // Hide default border to remove 1px line.
  border: 0;
}

// Sidebar
.sidebar {
  display: none;

  @media (min-width: 768px) {
    background-color: $bg-color;
    border-right: 1px solid $main-color;
    bottom: 0;
    display: block;
    left: 0;
    margin-top: 1.5em;
    overflow-x: hidden;
    overflow-y: auto; // Scrollable contents if viewport is shorter than content.
    padding: 20px;
    position: fixed;
    top: 51px;
    z-index: 1000;
  }
}

// Sidebar navigation
.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px; // 20px padding + 1px border

  li {
    a {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .active {
    a {
      &:hover,
      &:focus {
        background-color: $nav-bg-color;
        color: $white-color;
      }
    }
  }
}

// Main content
.main {
  padding: 20px;

  @media (min-width: 768px) {
    padding: 40px 40px 0;
  }

  .page-header {
    margin-top: 0;
  }
}

.scroll-top-wrapper {
  background-color: $scrolltop-bg-color;
  border-radius: 10px;
  bottom: 30px;
  color: $main-color;
  height: 48px;
  line-height: 48px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 30px;
  text-align: center;
  transition: background-color .5s ease-in-out;
  visibility: hidden;
  width: 50px;
  z-index: 99999999;

  .show {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    background-color: darken($scrolltop-bg-color, 20%);
  }

  i {
    .fa {
      line-height: inherit;
    }
  }
}
